:root {
    /* AGENT STATUS COLORS */
    --sphere-na-color: #666666; 
    --sphere-na-font-color: #AAAAAA;
    --sphere-connected-color: #00FF00; 
    --sphere-lit-color: #FFFFFF; 
    --sphere-lit-font-color: #000000; 

    /* POSITIONING METRICS */
    --agent-padding: 4px;
}

/* AGENT STATUS CLASSES */

.AgentNotAvailable {
    background-color: var(--sphere-na-color) !important;
    color: var(--sphere-na-font-color) !important;
}

.AgentLit {
    background-color: var(--sphere-lit-color) !important;
    color: var(--sphere-lit-font-color) !important;
}



html {
    height: 100%;
}

body {
    background-color: transparent;
    margin: 0;
    position: relative;
    height: 100%;
}

.SystemInformation {
    width: 100%;
    height: 50px;
    color: #FFFFFF;
    background-color: #141414;
    overflow: normal;
    position: relative;
}

.SystemTitle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;
    height: 1em;
    margin: auto;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
}

.SystemTimestamp {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    height: 1em;
    margin: auto;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    
}

.SystemStatus {
    background-color: transparent;
    height: calc(100% - 100px);
    overflow: hidden;
    position: relative;
}

.ConnectedClients {
    background-color: #EEEEEE;
    position: absolute;
    height: 100%;
    width: 400px;
    padding-right: 2px;
    padding-bottom: 2px;
    box-sizing: border-box;
}

.SystemLog {
    background-color: blue;
    position: absolute;
    left: 400px;
    height: 100%;
    width: calc(100% - 150px);
}

.InputConsole {
    background-color: transparent;
    position: absolute;
    left: 0px;
    height: 50px;
    width: calc(100%);
    box-sizing: border-box;
    border: 4px solid #141414;
    overflow: hidden;
}

.CommandInput {
    background-color: #FFFFFF;
    width: calc(100% - 100px);
    border: 0 !important;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    float: left;
    height: 42px;
    padding: 20px;
    border-right: 4px solid #141414 !important;
}

.SendButton {
    background-color: #333333;
    color: #FFFFFF;
    font-weight: bold;
    width: 100px;
    border: 0 !important;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    float: right;
    height: 42px;
    cursor: pointer;
}

.SendButton:hover {
    background-color: #141414;
}

.AgentClient {
    position: relative;
    width: calc(12.5% - 2px);
    background-color: #CCCCCC;
    margin: 2px;
    margin-bottom: 0;
    margin-right: 0;
    padding: 2px;
    padding-top: 0;
    box-sizing: border-box;
    height: 47.5px;
    font-size: 14px;
    display: inline-block;
    float: left;
    cursor: pointer;
}

.AgentClient:hover {
    background-color: #AAAAAA;
}

.AgentID {
    position: absolute;
    margin-right: var(--agent-padding);
    top: calc(var(--agent-padding) / 2);
    left: var(--agent-padding);
    border: 0px solid red;
    height: 15px;

}

.AgentStatus {
    position: absolute;
    height: 15px;
    margin-right: var(--agent-padding);
    left: var(--agent-padding);
    bottom: var(--agent-padding);
}

.AgentIP {
    position: absolute;
    top: calc(var(--agent-padding) / 2);
    right: var(--agent-padding);
    height: 15px;
    font-size: 10px;
    color: #888888;
}


